@import "../styles/colors.scss";

.footer {
    background: linear-gradient(to right,  $secondary, $primary);;
    color: #fff;
}

.footerText{
    text-align: center;
    padding: 20px;
}

.heart{
    color: red;
}